@import "partials/reset";

#pixelPainter {
  padding-top: 5%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #97EFD0;

}

//childElement of pixelPainter
//appended to leftScreen
.leftScreen {
  margin: auto;
}
.colorGrid {
  // background-color: yellow;
  margin: 6%;
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 50%;
  order: 1;

  .starterColors {
    display: flex;
    flex-flow: row wrap;
    width: 10%;

    .starterColorBtn {
      width: 100%;
    }
  }
  .swatchLandingArea {
    // background-color: purple;
    height: 100%;
    width: 80%;
    display: flex;
    flex-flow: row wrap;

    .gradientBtn {
      width: 12%;
    }
  }
}

//childElement of PixelPainter
h1 {
  // background-color: yellow;
  font-family: Arial;
  font-size: 70px;
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px #AAAAAA;
  transition: all 3s ease;
}

//appended to rightScreen
.pixelGrid {
  background-image: url("http://orig09.deviantart.net/b2ab/f/2013/120/5/9/untitled_drawing_by_bepbody64-d63md74.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid purple;
  margin: auto;
  margin-top: 30px;
  transition: all 2s ease;
  order: 2;

  .canPixels {
    height: 5px;
    width: 5px;
    opacity: .7;
  }
}

//appended to rightScreen
.fnButtons {
  width: 80px;
  font-family: Arial;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  margin: 15px 2px 2px 2px;
  padding: .5em;
  border: solid thin #882d13;
  background-color: #FADC9F;
  border-radius: .3em .9em;
  box-shadow: 2px 2px 2px #bbb;
  display: inline-block;
}

.fnButtons:hover {
  box-shadow: 2px 2px 2px #8E8E8E;
  background-color: #DFB169;
}

@media (max-width: 360px){
  body {
    background-color: purple;
  }
}

