.colorGrid {
  height: 500px;
  width: 300px;
  background-color: gray;
}

.starterColors {
  height: 100%;
  width: 10%;
  float: left;
}

.starterColorBtn {
  height: 10%;
  width: 100%;
}


.swatchLandingArea {
  height: 100%;
  width: 90%;
  float: right;
  background-color: yellow;
}

.gradientBtn {
  height: 10%;
  width: 12.5%;
  display: inline-block;
}