/*
h1 {
  font-family: Arial;
  font-size: 70px;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 2px 2px #AAAAAA;
  transition: all 3s ease;
}

body {
  background-color: #B7FAF2;
}

.leftScreen {
  background-color: #C3F6F1;
  border-radius: 15px;
  float: left;
  height: 100%;
  width: 20%;
}

.colorGrid {
  width: 100%;
  height: 50%;
  float: left;
  background-color: white;
}

.starterColors {
  width: 25%;
  height: 100%;
  float: left;
  background-color: teal;
}

.starterColorBtn {
  border: 0px;
  height: 10%;
  width: 100%;
}

.swatchLandingArea {
  height: 100%;
  width: 75%;
  background-color: yellow;
  float: right;
}

.redSwatchRow {
  height: 10%;
  width: 100%;
  background-color: #FF0000;
}

.redSwatchBtn {
  height: 100%;
  width: 20%;
  background-color: gray;
  display: inline-block;
}

.rightScreen {
  border-radius: 10px;
  float: right;
  height: 100%;
  width: 79%;
}

.pixelGrid {
  background-image: url("http://orig09.deviantart.net/b2ab/f/2013/120/5/9/untitled_drawing_by_bepbody64-d63md74.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid white;
  margin: 5% 25%;
  transition: all 2s ease;
}

table {
  border-collapse: collapse;
}

.canvasRow {
}

.canPixels {
  height: 5px;
  width: 5px;
  opacity: .7;
}

.imageRow {
  height: 20%;
  width: 100%;
  background-color: pink;
}

#funButtons {
  padding-top: 550px;
}

.fnButtons {
  height: 20px;
  width: 90px;
  font-family: Arial;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  margin: 0px 5px 5px 7%;
  padding: .5em;
  border: solid thin #882d13;
  background-color: #FADC9F;
  border-radius: .3em .9em;
  box-shadow: 2px 2px 2px #bbb;
  display: inline-block;
}

.fnButtons:hover {
  box-shadow: 2px 2px 2px #8E8E8E;
  background-color: #DFB169;
}

@media (max-width: 360px){
  body {
    background-color: purple;
  }
}*/
