/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #B3D5A8; }

#pixelPainter {
  padding: 5%;
  display: flex;
  flex-flow: row nowrap; }

.leftScreen {
  margin: auto;
  margin-right: 4%; }

.colorGrid {
  margin: 5%;
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 50%;
  order: 1; }
  .colorGrid .starterColors {
    display: flex;
    flex-flow: row wrap;
    width: 12%; }
    .colorGrid .starterColors .starterColorBtn {
      width: 100%; }
  .colorGrid .swatchLandingArea {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap; }
    .colorGrid .swatchLandingArea .gradientBtn {
      width: 12%; }

h1 {
  color: #57626F;
  font-family: Impact;
  font-size: 70px;
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px #AAAAAA;
  transition: all 3s ease; }

.pixelGrid {
  background-image: url("http://orig09.deviantart.net/b2ab/f/2013/120/5/9/untitled_drawing_by_bepbody64-d63md74.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 20px solid #F07B73;
  box-shadow: 5px 5px 5px #8C8C8C;
  margin: auto;
  margin-left: 0;
  transition: all 2s ease;
  order: 2; }
  .pixelGrid .canPixels {
    height: 5px;
    width: 5px;
    opacity: .75; }

.fnButtons {
  width: 20%;
  font-family: Arial;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  margin: 15px 10px 2px 2px;
  padding: .5em;
  border: solid thin #882d13;
  background-color: #FADC9F;
  border-radius: .1em .9em;
  box-shadow: 2px 2px 2px #bbb;
  display: inline-block; }

.fnButtons:hover {
  box-shadow: 2px 2px 2px #8E8E8E;
  background-color: #DFB169; }

@media (max-width: 360px) {
  body {
    background-color: purple; } }
